@use "../styles/cartridge.module";

.headerContainer {
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: center;
  animation: headerAni;
  animation-duration: 2s;
}
.projectContainer {
  margin-top: 2em;
}
.projectWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem 6em;
}
.headerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85%;
  border-radius: 0 0 10px 10px;
  background-color: var(--layout-bg-color);
  padding: 1em 1em;
  box-shadow: 0px 0.5px 0px black;
}
.headerLogo {
  font-size: 2rem;
  border: 2px solid var(--default-font-color);
  padding: 0.4em 0.5em;
  color: var(--default-font-color);
  cursor: pointer;
}
.nameContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inputField {
  margin-top: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  width: 100%;
  padding: 0.2em 0.3em;
}
.inputContainer {
  margin-right: 1rem;
  width: 50%;
}
.inputArea {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  border-radius: 10px;
  width: 100%;
  padding: 0.2em 0.3em;
}
.submitBtn {
  margin-bottom: 1em;
  cursor: pointer;
  margin-top: 1em;
  border-radius: 10px;
  display: flex;
  justify-self: center;
  justify-content: center;
  width: 60%;
  padding: 0.5em;
  font-size: 1.5rem;
}
.inputLabel {
  font-size: 1.5rem;
  color: var(--default-font-color);
}
.footerContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: var(--default-font-color);
  padding: 0.5em 1em;
  background-color: var(--layout-bg-color);
}
.mainContainer {
  min-height: 100vh;
  background-color: rgb(27, 28, 41);
}
.carouselItem {
  height: 4em;
  min-width: 33.333%;
  width: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerTitle {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-size: 4rem;
  animation: typingEffect 3s steps(30, end);
}
.subBannerTitle {
  font-size: 2rem;
  text-align: center;
}
.banner {
  color: var(--default-font-color);
  font-size: 3rem;
}
.subBanner {
  color: var(--default-font-color);
  font-size: 2rem;
}
.bannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0, 0.5);
}
.contactContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
}
.contactDesc {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
.contactInfo {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1.2rem;
}
.contactInfo a,
.contactInfo a:visited {
  text-decoration: none;
  color: #127de9;
}
.contactTitle {
  margin-top: 1rem;
  color: var(--default-font-color);
  font-size: 3rem;
  text-align: center;
}
.holder {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  color: var(--default-font-color);
}
.socialIcon {
  margin-left: 1em;
  cursor: pointer;
}
.devIcon {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 1rem;
  transition: transform 0.3s ease-in-out;
}
.aboutDesc {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-left: 2rem;
}
.aboutDesc p {
  margin-top: 1rem;
}
.aboutContainer {
  width: 100%;
}
.aboutWrapper {
  width: 50%;
}
.contactDesc p {
  margin-top: 1rem;
}
.devIcon:hover {
  transform: scale(1.2);
}
.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 50%;
}
.navList {
  display: flex;
  list-style: none;
}
.navList li {
  margin: 0 1em;
}
.formContainer {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.formWrapper {
  width: 60%;
}
.headerLogo a,
.navList li a,
.navList li a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: var(--default-font-color);
}
.gradientRainbow:hover {
  background: linear-gradient(
    to right,
    #ffacac,
    #fae094,
    #a8fc8e,
    #77d8ff,
    #7785ff,
    #d877ff,
    #ff77bb
  );
  background-size: 400% auto;
  animation: textGrad 5s ease-in-out infinite;
}
.gradient:hover {
  background: linear-gradient(to right, #e7e7e7, #f8e2a1, #e7e7e7, #f8e2a1);
  --webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: textGrad 5s ease-in-out infinite;
}
.name:hover {
  background: linear-gradient(to right, #fcf8e0, #ffdf7e, #fffadb, #ffdf7e);
  --webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% auto;
  animation: textGrad 5s ease-in-out infinite;
}
@keyframes headerAni {
  from {
    transform: translateY(0);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes typingEffect {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes textGrad {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@media screen and (max-width: 320px) {
  .bannerTitle {
    text-align: center;
    font-size: 2.2rem;
  }
  .subBannerTitle {
    text-align: center;
    font-size: 1.2rem;
  }
  .homeContainer {
    width: 100%;
  }
  .headerLogo {
    font-size: 1rem;
    padding: 0.2em 0.25em;
    color: var(--default-font-color);
    cursor: pointer;
  }
  .headerWrapper {
    width: 100%;
    padding: 0.8rem;
  }
  .headerLogo a,
  .navList li a,
  .navList li a:visited {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--default-font-color);
  }
  .navList li {
    margin: 0 0.3em;
  }
  .footerContainer {
    text-align: center;
    font-size: 1rem;
  }
  .contactTitle {
    margin-top: 1rem;
    color: var(--default-font-color);
    font-size: 2rem;
    text-align: center;
  }
  .contactDesc {
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }
  .aboutDesc {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2rem;
  }
  .contactInfo {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1.2rem;
  }
  .formWrapper {
    width: 100%;
  }
  .nameContainer {
    flex-direction: column;
  }
  .inputContainer {
    width: 100%;
  }
  .aboutWrapper {
    width: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 1024px) {
  .aboutWrapper {
    width: 100%;
  }
  .aboutDesc {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin-left: 2rem;
  }
  .bannerTitle {
    text-align: center;
    font-size: 2.5rem;
  }
  .subBannerTitle {
    text-align: center;
    font-size: 1.5rem;
  }
  .homeContainer {
    width: 100%;
  }
  .headerLogo {
    font-size: 1rem;
    padding: 0.2em 0.25em;
    color: var(--default-font-color);
    cursor: pointer;
  }
  .headerWrapper {
    width: 100%;
    padding: 0.8rem;
  }
  .headerLogo a,
  .navList li a,
  .navList li a:visited {
    font-size: 1rem;
    text-decoration: none;
    color: var(--default-font-color);
  }
  .navList li {
    margin: 0 0.3em;
  }
  .footerContainer {
    text-align: center;
    font-size: 1rem;
  }
  .contactTitle {
    margin-top: 1rem;
    color: var(--default-font-color);
    font-size: 2rem;
    text-align: center;
  }
  .contactDesc {
    color: white;
    font-size: 1.3rem;
    text-align: center;
  }
  .contactInfo {
    color: white;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1.2rem;
  }
  .formWrapper {
    width: 100%;
  }
  .nameContainer {
    flex-direction: column;
  }
  .inputContainer {
    width: 100%;
  }
}
